@import "theme.css";

body {
    user-select: none;
}

div.reload {
    position: fixed;
    right: 15px;
    top: 15px;
    font-size: 30px;
    line-height: 30px;
    background: var(--theme-lighter);
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

article.box {
    background-color: var(--theme-lighter);
    border-radius: 4px;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

div.padded {
    padding: 10px;
}

article.box > header {
    min-height: 20px;
    padding: 2px;
    font-size: 15px;
    text-align: left;
    color: var(--theme-light);
    font-weight: lighter;
}

article.box > section {
    padding: 0 20px;
}

article.box > footer {
    min-height: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > .stretch {
    flex: 1;
}

article.stats {
    margin: 50px auto;
    text-align: center;
    max-width: 375px;
}

span.stats-min,
span.stats-max,
div.stats-lost {
    font-size: 20px;
}

span.stats-avg {
    font-size: 26px;
}

span.stats-min::after,
span.stats-max::after,
span.stats-avg::after {
    content: " ms ";
}

div.stats-lost::before {
    content: "(Lost: ";
}

div.stats-lost::after {
    content: " %)";
}

span.stats-min::after,
span.stats-max::after,
span.stats-avg::after,
div.stats-lost::before,
div.stats-lost::after {
    color: var(--bg-gray);
    font-size: 0.8em;
}
