* {
    box-sizing: border-box;
}

:root {
    /* Theme colors */
    --theme-dark: #000018;
    --theme-default: #1c2b3e;
    --theme-lighter: #455369;
    --theme-light: #7f8b9b;

    --bg-gray: #bbbbbb;
    --bg-light: #eeeeee;

    --highlight: #4996fa;
    --highlight-light: #86c6ff;
    --red: #d85858;
    --red-light: #ff8888;
    --red-light: #58d878;

    --text-light: #eeeeee;
    --text-dark: #222222;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    /* web-safe fonts */
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    font-weight: normal;
    line-height: 1.15;
    font-size: 14px;
    color: var(--text-light);
    background: var(--theme-default);
}

/* Selection */
::-moz-selection {
    background: var(--highlight);
}

::selection {
    background: var(--highlight);
}

:focus {
    outline: var(--highlight) auto 0.5px;
}

/* Scrollbars */
html {
    scrollbar-color: var(--theme-light) var(--theme-lighter);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--theme-lighter);
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-light);
}

/* Basic html components */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
}

a {
    color: var(--highlight);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-light);
    text-decoration: underline;
}

b,
strong {
    font-weight: bolder;
}

hr {
    margin: 15px 0;
    color: var(--theme-lighter);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

select,
button,
input[type=submit],
input[type=reset],
input[type=button] {
    color: var(--text-light);
    text-align: center;
    border-style: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: var(--theme-lighter);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
}

select:hover:not(:disabled),
button:hover:not(:disabled),
input[type=button]:hover:not(:disabled) {
    background-color: var(--theme-light);
}

button.submit,
input[type=submit],
input[type=button].submit {
    color: white;
    background-color: var(--highlight);
}

button.submit:hover:not(:disabled),
input[type=submit]:hover:not(:disabled),
input[type=button].submit:hover:not(:disabled) {
    background-color: var(--highlight-light);
}

button.cancel,
input[type=reset],
input[type=button].cancel {
    color: white;
    background-color: var(--red);
}

button.cancel:hover:not(:disabled),
input[type=reset]:hover:not(:disabled),
input[type=button].cancel:hover:not(:disabled) {
    background-color: var(--red-light);
}

button:active,
input[type=button]:active,
button.submit:active,
input[type=submit]:active,
input[type=button].submit:active,
button.cancel:active,
input[type=reset]:active,
input[type=button].cancel:active {
    filter: brightness(75%);
}

select:disabled,
button:disabled,
input[type=button]:disabled,
button.submit:disabled,
input[type=submit]:disabled,
input[type=button].submit:disabled,
button.cancel:disabled,
input[type=reset]:disabled,
input[type=button].cancel:disabled {
    filter: brightness(75%);
    cursor: not-allowed;
}

input[type=email],
input[type=number],
input[type=date],
input[type=text],
textarea {
    color: var(--text-dark);
    font: inherit;
    padding: 5px 9px;
    border: 1px solid var(--bg-gray);
    border-bottom: 2px solid var(--highlight);
    background-color: var(--bg-light);
    transition: background-color 0.2s ease-in-out;
    line-height: normal;
}

input[type=email]:hover,
input[type=email]:focus,
input[type=number]:hover,
input[type=number]:focus,
input[type=date]:hover,
input[type=date]:focus,
input[type=text]:hover,
input[type=text]:focus,
textarea:hover,
textarea:focus {
    background-color: white;
}

input[type=email]:disabled,
input[type=number]:disabled,
input[type=date]:disabled,
input[type=text]:disabled,
textarea:disabled {
    cursor: not-allowed;
    background-color: var(--bg-gray);
    border-bottom: 2px solid var(--red);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    padding: 5px 24px 5px 10px;
    background-image: url(../images/dropdown.svg);
    background-position: center right 6px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

input[type=radio],
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--theme-lighter);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: var(--highlight);
    background-image: url(../images/check.svg);
}

input[type=radio] {
    border-radius: 1em;

}

input[type=radio]:checked {
    background-color: var(--highlight);
    background-image: url(../images/radio.svg);
}

input[type=radio]:disabled,
input[type=checkbox]:disabled {
    filter: brightness(75%);
    cursor: not-allowed;
}

table {
    width: 100%;
    padding: 5px 0px;
    background: var(--theme-lighter);
    border-radius: 4px;
    border: none;
    user-select: text;
    border-spacing: 0;
}

table tr {
    padding: 5px;
    border: none;
    transition: background 0.2s ease-in-out;
}

table tr:hover {
    background: var(--theme-light);
}

table td,
table th {
    padding: 5px 15px;
    margin: 0px;
    border: none;
    user-select: text;
    text-align: left;
}

.selectable {
    user-select: text;
}
